body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--secondary-accent);
  color: var(--text-primary);
}

.dashboard-container {
  
  text-align: center;
  padding: 60px 20px;
}

.dashboard-container h2 {
  margin-top: 80px;
  font-size: var(--font-size-lg);
  color: var(--primary-color);
  margin-bottom: 10px;
}

.balance {
  font-size: 20px;
  color: var(--text-primary);
  margin-bottom: 30px;
}

.account-box {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 60%;
  margin: 0 auto 30px auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.account-box h3 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.account-box p {
  color: var(--text-primary);
  margin: 5px 0;
  font-size: 16px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: var(--gap-sm);
  margin-bottom: 40px;
}

.action-buttons button {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border: none;
  padding: var(--padding-sm);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 140px;
  transition: all 0.3s ease;
}

.action-buttons button:hover {
  background-color: var(--button-hover);
  color: var(--primary-color);
}

/* Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background-color: var(--primary-dark);
  padding: 30px;
  border-radius: var(--border-radius);
  width: 320px;
  color: var(--text-primary);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.modal-content h4 {
  margin-bottom: 20px;
  color: var(--highlight-color);
}

.modal-content label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  color: var(--text-secondary);
  font-size: 14px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-accent);
  background: #ffffff;
  color: #000;
  font-size: 15px;
}

.submit-btn {
  background-color: green;
  color: white;
  padding: var(--padding-sm);
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.submit-btn:hover {
  background-color: #28a745;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: transparent;
  border: none;
  color: var(--highlight-color);
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: var(--button-hover); /* Gold on hover */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}