.all-users-container {
  margin-top: 80px;
  background: var(--secondary-accent);
  padding: 20px;
  border-radius: 8px;
}

.page-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-dark);
  margin-bottom: 15px;
  text-align: center;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  background: var(--primary-dark);
  padding: var(--padding-lg);
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-accent);
}

.users-table th,
.users-table td {
  padding: 12px 15px;
  text-align: center;
}

.users-table thead {
  background-color: var(--primary-color);
  color: white;
}


.status-chip {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: bold;
}

.status-chip.active {
  background-color: #4caf50;
  color: white;
}

.status-chip.inactive {
  background-color: #f44336;
  color: white;
}

.action-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: bold;
}

.action-btn.activate {
  background-color: #4caf50;
  color: white;
}

.action-btn.deactivate {
  background-color: #f44336;
  color: white;
}

.action-btn:hover {
  opacity: 0.9;
}
